.App {
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  .header {
    :nth-child(2n+1) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .message-list {
    margin: 50px 0;

    .chat-add {
      margin-top: 15px;

      .button {
        width: 200px;
        height: 55px;
      }
    }
  }

  .messages {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }

  .wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .message-form {
    margin: 20px 10px;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button {
      width: 200px;
      height: 55px;
    }
  }
}
